test/
source/
Makefile
blog/drafts/*
blog/__templates/*
blog/__static/*
*.py
*.pyc
*.rst
*.ipynb

twit/test*
config.yml
coms/_code/
coms/_index.html
coms/coms/
coms/remove_unicode.sh
coms/test.html
coms/test.tsv
pubs/README.txt
pubs/_pubs.zip
pubs/_slick-sync-and-column-bug.zip
pubs/license.txt
pubs/slick-sync-and-column-bug.zip
pubs/slick-sync-and-column-bug/
soft/simple-table-filtering.zip

